{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2>CareerPilot AI Dashboard</h2>
        <p class="text-muted">
            AI Powered Job Search Assistant
        </p>
    </div>

    <a href="/search" class="btn btn-primary btn-lg">
        🔍 Search Jobs
    </a>

</div>

<div class="row mb-4">

    <div class="col-md-3">

        <div class="card top-card">

            <div class="card-body">

                <h6>Total Jobs</h6>

                <h2>

                    {% if jobs %}
                        {{ jobs|length }}
                    {% else %}
                        0
                    {% endif %}

                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card top-card">

            <div class="card-body">

                <h6>Applications</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card top-card">

            <div class="card-body">

                <h6>Best Match</h6>

                <h2>

                    {% if jobs %}
                        {{ jobs[0].match_score }}%
                    {% else %}
                        0%
                    {% endif %}

                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card top-card">

            <div class="card-body">

                <h6>Interviews</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

</div>

{% if jobs %}

{% for item in jobs %}

<div class="card job-card">

    <div class="card-body">

        <div class="row">

            <div class="col-md-9">

                <h3>{{ item.job.title }}</h3>

                <h5 class="text-primary">
                    {{ item.job.company }}
                </h5>

                <p>
                    📍 {{ item.job.location }}
                </p>

                <p>
                    Source:
                    <strong>{{ item.job.source }}</strong>
                </p>

                {% if item.matched_skills %}

                <div class="mb-3">

                    {% for skill in item.matched_skills %}

                    <span class="skill">
                        {{ skill }}
                    </span>

                    {% endfor %}

                </div>

                {% endif %}

             <div class="mt-3">

    <a
        class="btn btn-success"
        href="/generate/{{ item.job.id }}">

        📄 Generate Resume

    </a>

    <a
        class="btn btn-warning"
        href="/coverletter/{{ item.job.id }}">

        ✉ Generate Cover Letter

    </a>

    <a
        class="btn btn-info"
        href="/save/{{ item.job.id }}">

        💾 Save Job

    </a>

</div>   


                </div>

            </div>

            <div class="col-md-3 text-center">

                <div class="score">

                    {{ item.match_score }}%

                </div>

                <div class="progress mt-3">

                    <div
                        class="progress-bar bg-success"
                        style="width:{{ item.match_score }}%">

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endfor %}

{% else %}

<div class="alert alert-info">

    <h4>
        Welcome to CareerPilot AI
    </h4>

    <p>

        Click

        <strong>

            Search Jobs

        </strong>

        to search and rank jobs using AI.

    </p>

</div>

{% endif %}

{% endblock %}